<app-sidebar></app-sidebar>
<div class="dashboard-content">
  <form [formGroup]="filtersForm" (ngSubmit)="applyFilters()" class="container">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel z-depth-4 login-card">
          <h4 class="center-align deep-purple-text text-darken-3">Tasks</h4>

          <!-- User Filter -->
          <div class="input-field">
            <i class="material-icons prefix deep-purple-text text-darken-2">group</i>
            <div class="select-wrapper">
              <label for="selectedUserId">User</label>
              <select formControlName="selectedUserId" id="selectedUserId" class="browser-default select-role">
                @for (user of users; track user.id) {
                  <option [ngValue]="user.id">{{ user.username }}</option>
                }
              </select>
            </div>
          </div>

          <!-- Task Status Filter -->
          <div class="input-field">
            <i class="material-icons prefix deep-purple-text text-darken-2">notes</i>
            <div class="select-wrapper">
              <label for="selectedStatus">Task Status</label>
              <select formControlName="selectedStatus" id="selectedStatus" class="browser-default select-role">
                @for (status of statuses; track status) {
                  <option [ngValue]="status">{{ status.charAt(0).toUpperCase() + status.slice(1).toLowerCase() }}</option>
                }
              </select>
            </div>
          </div>

          <br>

          <!-- Action Buttons -->
          <div class="center-align">
            <button type="submit" class="btn login-btn" [disabled]="filtersForm.invalid">
              Filter
            </button>

            @if (filtersApplied) {
              <button type="button"
                      class="btn waves-effect waves-light clear-btn white deep-purple-text text-darken-3"
                      (click)="clearFilters()"
                      style="margin-left: 10px;">
                Clear Filters
              </button>
            }
          </div>

          <br>

          <!-- Tasks List -->


          @if (tasks.length > 0) {
            @for (task of tasks; track task.id) {
              <div class="task-item">
                <div class="task-header">
                  <div>
                    <div class="task-title">{{ task.title }}</div>
                    <div class="task-user">User: {{ getUsernameById(task.userId) }}</div>
                  </div>
                  <div class="task-status"
                       [ngClass]="{
              'pending': task.status === 'PENDING',
              'accepted': task.status === 'ACCEPTED',
              'rejected': task.status === 'REJECTED'
           }">
                    {{ task.status }}
                  </div>
                </div>

                <div class="task-info">
                  <p>{{ task.description }}</p>
                  <p>⏱ Duration: {{ task.duration }}h</p>
                </div>

                @switch (task.status) {
                  @case ('PENDING') {
                    <div class="action-buttons right-align">
                      <button title="Accept task" class=" btn-accept btn-small white-text"

                              (click)="updateTaskStatus(task.id, 'ACCEPTED')">
                        <i class="material-icons">check</i>
                      </button>

                      <button title="Reject task" class="btn-reject btn-small white-text"
                              (click)="updateTaskStatus(task.id, 'REJECTED')">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                  }

                  @case ('ACCEPTED') {
                    <div class="action-buttons right-align">
                      <button title="Reject task" class="btn-reject btn-small white-text"

                              (click)="updateTaskStatus(task.id, 'REJECTED')">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                  }
                  @case ('REJECTED') {
                    <div class="action-buttons right-align">
                      <button title="Accept task" class="btn-accept btn-small white-text"

                              (click)="updateTaskStatus(task.id, 'ACCEPTED')">
                        <i class="material-icons">check</i>
                      </button>
                    </div>
                  }
                }

              </div>
            }


          } @else if (filtersApplied) {
            <p class="center-align grey-text">
              No tasks to show
            </p>
          }

        </div>
      </div>
    </div>
  </form>
</div>
