
html, body {
  height: 100% !important;
  margin: 0 !important;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 1000;
  background-color: #ffffff !important;
  padding: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 5px;
}

.topbar-list li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  gap: 10px;
}

.topbar-list li a:hover {
  background-color: #4a148c !important;
  color: #ffffff !important;
}

.topbar-list li a:hover i {
  color: #ffffff !important;
}



.topbar-list li a.red-text {
  color: #d32f2f !important;
}

.topbar-list li a.red-text:hover {
  background-color: #f44336 !important;
  color: #ffffff !important;
}

.right-align {
  margin-left: auto;
}


.icon-badge-wrapper {
  position: relative;
  display: inline-block;
}

.notification-badge {
  position: absolute;
  top: 18px;
  right: -6px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  min-width: 16px;
  text-align: center;
}
