<br>
<h3>{{ isEditing ? 'Update Task' : 'Create Task' }}</h3>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="container">

  <!-- TITLE -->
  <div class="input-field fixed-field">
    <i class="material-icons prefix deep-purple-text text-darken-2">text_fields</i>
    <label class="fixed-label" for="title">Title</label>
    <input id="title" formControlName="title" type="text" class="validate" required>
  </div>

  <!-- DESCRIPTION -->
  <div class="input-field fixed-field">
    <i class="material-icons prefix deep-purple-text text-darken-2">notes</i>
    <label class="fixed-label" for="description">Description</label>
    <textarea id="description" formControlName="description" class="materialize-textarea validate" required></textarea>
  </div>

  <!-- DURATION -->
  <div class="input-field fixed-field">
    <i class="material-icons prefix deep-purple-text text-darken-2">schedule</i>
    <label class="fixed-label" for="duration">Duration (Hours)</label>
    <input id="duration" formControlName="duration" type="number" class="validate" required>

    @if (taskForm.get('duration')?.errors?.['min'] || taskForm.get('duration')?.errors?.['max']) {
      <span class="helper-text red-text">Please enter a task duration between 1 and 8 hours</span>
    }
  </div>

  <!-- SUBMIT -->
  <button type="submit" [disabled]="taskForm.invalid">
    {{ isEditing ? 'Update Task' : 'Add Task' }}
  </button>

  <!-- ERROR -->
  @if (errorMessage) {
    <span class="helper-text red-text center-align">{{ errorMessage }}</span>
  }

</form>
