
form {
  padding: 20px !important;
  border-radius: 12px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 30px !important;
  width: 80% !important;
  max-width: 800px !important;
  margin: 0 auto !important;
  box-sizing: border-box !important;

}

h3 {
  text-align: center !important;
  color: #512da8 !important;
  font-size: 22px !important;
  margin-bottom: 10px !important;
}

label {

  color: rgba(51, 51, 51, 0.63) !important;
}

input, textarea {
  width: 90% !important;

  font-size: 16px !important;
  transition: all 0.3s ease-in-out !important;
}

input:focus, textarea:focus {

  border-bottom: 2px solid #6a11cb !important;
  box-shadow: 0 1px 0 0 #6a11cb !important;
}

button {
  background: linear-gradient(135deg, #6a11cb, #2575fc) !important;
  border: none !important;
  color: white !important;
  padding: 12px !important;
  border-radius: 50px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}

button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb) !important;
}

button:disabled {
  background: #ccc !important;
  cursor: not-allowed !important;
  transform: none !important;
}

