.chart-card {
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chart-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}


.chart-card h5 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

canvas {
  width: 100% !important;
  max-width: 500px;
  height: auto !important;
}

@media (max-width: 768px) {
  .chart-card {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .chart-card h5 {
  font-size: 1rem;
}
}
